@media screen and (max-width: 1024px)
{



body {
    padding: 2em;
    width: 90%;
    margin: 0;
}


h2 {
    font-size: large;
}

p {
    font-size: medium;
}

header h1 {
    font-size: x-large;
    width: max-content;
    word-wrap: break-word;
}

#search {
    width: 90%;
    height: 10%;
}

::placeholder {
    font-size: medium;
}

#filtres {
    flex-direction: column;
}

#filtres ul {
    flex-direction: column;
    width: 40%;
}

}