/* Style général */

@font-face {
    font-family: 'RalewayMedium';
    src: url(police/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'RalewayBold';
    src: url(police/Raleway-SemiBold.ttf);
}

body {
    font-family: 'RalewayMedium';
}

h1, h2 {
    font-family: 'RalewayBold';
}

h2 {
    font-size: medium;
    font-weight: bold;
}

p {
    font-size: small;
}

h1 {
    font-size: large;
    font-weight: bold;
}
/* Fin style général */

/* Style du Header */

header {
    margin-left: 3%;
}

/* Style de la barre de navigation */

#banner {
    display: flex;
    align-items: center;
}

#logoDiv {
    width: 60%;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

#inscription {
    width: 15%;
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 50px;
}


#menu a {
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding-top: 5%;
}

#menu a:hover {
    border-top: 2px solid blue;
    color: blue;
}

#banner button {
    background: none;
    align-content: center;
    color: rgb(0, 140, 255);
    font-size: medium;
    border: none;
    padding-top: 9%;
}

/* Syle de la barre de recherche */

#search {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgb(238, 235, 235);

}

#localisationLogo {
    background-color: rgb(238, 235, 235);
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

#search input {
    border: none;
    width: 70%;
    height: 90%;
    padding-left: 5%;
}

::placeholder {
    color: black;
    font-weight: bold;
}

#search button {
    background-color: rgb(0, 102, 255);
    color: white;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border: none;
    width: 20%;
}

#searchLogo {
    display: none;
}

/* Syle de la zone de filtres */

#filtres {
    display: flex;
    width: 65%;
    justify-content: space-around;
    align-items: center;
}

#filtres ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#filtres li {
  
    display: flex;
    border: 2px solid gainsboro;
    border-left-style: none;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 0;
    white-space: nowrap;
}

#filtres i {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(208, 224, 255);
    color: rgb(43, 108, 228);
    display: flex;
    align-items: center;
    justify-content: center;
}

#filtres span {
    margin-left: 3%;
    font-family: 'RalewayBold';
}


/* Style de la div infos (petit i + phrase) */

#infos {
    display: flex;
    align-items: center;
}

#infos p {
    padding-left: 1%;
}

#infos i {
    border: 1px solid gainsboro;
    border-radius: 50px;
    color: rgb(43, 108, 228);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

/* Style de la section */

#sectionTitle {
    display: none;
}

/* Style des asides Hébergements et Populaires */

#container {
    display: flex;
    justify-content: space-around;
}

.element {
    border-radius: 20px;
    height: auto;
    padding: 1%;
}

.element:nth-child(1) {
    background-color: rgb(241, 241, 239);
    width: 60%;
}

.element:nth-child(2) {
    background-color: rgb(241, 241, 239);
    width: 30%;
}

.stars {
    font-size: x-small;
}

/* Style de l'aside Hébergement */

#inAccomodations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.accomodationPhoto {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding:0.5%;
    height: 200px;
    width: 25%;
    margin: 10px;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.18);
}

.accomodationPhoto img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
}

/* Style de l'aside Populaire */

#inPopular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 90%;
}

.popularPhoto {
    display: flex;
    justify-content: space-between;
    height: 25%;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.18);

}

.popularPhoto img {
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

#mostPopular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mostPopular i {
    margin-right: 3%;
}

.popularText {
  width: 55%;
}

/* Style de l'aside Activités */

#activities {
    height: auto;
    margin-bottom: 3%;
}

#activities h2 {
    margin-left: 3%;
}

#activitiesPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.activitiesImages {
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.18);
    max-height: 340px;
    width: 250px;
}

.activitiesImages img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.simpleImage {
    height: 340px;
    display: flex;
}

.doubleImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
}

.simpleImage img {
    height: 300px;
    width: 250px;
}

.doubleImage img {
    height: 100px;
    width: 250px;
}



/* Style du footer */

#footerContainer {
    background-color: rgb(241, 241, 239);
    display: flex;
    justify-content: space-between;
}

.footerElement {
    width: auto;
    margin-right: 2%;
}

.footerElement ul {
    list-style: none;
}

.footerElement li {
    margin-top: 10px;
}

.footerElement h2 {
    margin-left: 13%;
    font-family: 'RalewayBold';
}