@media screen and (min-width: 920px) and (max-width: 1200px) {

    #menu {
        width: 70%;
    }
    
    #container {
        flex-direction: column-reverse;
    }

    .element {
        border-radius: 20px;
        height: auto;
        padding: 1%;
        margin-bottom: 2%;
    }
    
    .element:nth-child(1) {
        background-color: rgb(241, 241, 239);
        width: 100%;
    }
    
    .element:nth-child(2) {
        background-color: rgb(241, 241, 239);
        width: 100%;
    }





}