@media screen and (min-width: 768px) and (max-width: 991px) {

    header {
        margin-left: 0%;
    }


    #search {
        width: 60%;
    }

    #menu {
        width: 25%;
    }

    #filtres {
        width: 100%;
    }
    
    #container {
        flex-direction: column-reverse;
    }

    .element {
        border-radius: 20px;
        height: auto;
        padding: 1%;
        margin-bottom: 2%;
    }
    
    .element:nth-child(1) {
        background-color: rgb(241, 241, 239);
        width: 100%;
    }
    
    .element:nth-child(2) {
        background-color: rgb(241, 241, 239);
        width: 100%;
    }

    #inPopular {
        flex-direction: row;
        flex-wrap: unset;
    }

    .popularPhoto {
        padding:0.5%;
        height: 110px;
        width: 30%;
        margin: 0;
    }

    .popularPhoto img {
        object-fit: cover;
        height: 100%;
    }




}